<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/images/marcy.jpg" />
    <ion-card-header>
      <ion-card-subtitle>BSIT</ion-card-subtitle>
      <ion-card-title>Angelica Estrada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      I am a 3rd year BSIT student at Gordon
      College. I'm 20 years old, born and raised at Olongapo City.
      During this pandemic I learn how to bake simple desserts like cookies, cupcakes, cakes and brownies.
    </ion-card-content>
  </ion-card>
</ion-content>
